# Default ignored files
/../../../../../../JAINIS~1/AppData/Local/Temp/speek.py13897916979370664853/.idea/shelf/
/../../../../../../JAINIS~1/AppData/Local/Temp/speek.py13897916979370664853/.idea/workspace.xml
